---
import '../styles/header.css'
import { useTranslations, type Language } from '../i18n/utils';

interface IHeader {
  lang: Language;
}

const {lang} = Astro.props;

const t = useTranslations(lang);
const manufacturer = t('manufacturer.title')
---
<header class="dl_header" id="dl_header"> 
    <div class="container">
        <div class="dl_header_logo"> 
            <img src="/images/mainlogo.svg" alt="Logo" class="dl_logo" id="dl_header_main_logo">
            <span class="dl_span" id="dl_header_main_span">{manufacturer}</span>
        </div>
        <nav class="dl_header_nav" id="navigation">
            <a href=`/${lang}/` class="dl_header_link" data-label={t('title.index')}>
                <svg class="dl_nav_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
                    <polyline points="9 22 9 12 15 12 15 22"/>
                </svg>
                <span class="dl_nav_text">{t('title.index')}</span>
            </a>
            <a href=`/${lang}/products` class="dl_header_link" data-label={t('title.products')}>
                <svg class="dl_nav_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"/>
                    <line x1="3" y1="6" x2="21" y2="6"/>
                    <path d="M16 10a4 4 0 0 1-8 0"/>
                </svg>
                <span class="dl_nav_text">{t('title.products')}</span>
            </a>
            <a href=`/${lang}/contacts` class="dl_header_link" data-label={t('title.contacts')}>
                <svg class="dl_nav_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/>
                </svg>
                <span class="dl_nav_text">{t('title.contacts')}</span>
            </a>
            <a href=`/${lang}/about` class="dl_header_link" data-label={t('title.about')}>
                <svg  class="dl_nav_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"/>
                    <line fill= '#3987d6' x1="12" y1="16" x2="12" y2="12"/>
                    <line x1="12" y1="8" x2="12.01" y2="8"/>
                </svg>
                <span class="dl_nav_text">{t('title.about')}</span>
            </a>
        </nav>
    </div>
</header>

<script>
    let lastScrollTop = 0;
    const header = document.getElementById('dl_header');
    const container = header?.querySelector('.container');
    
    window.addEventListener('scroll', () => {
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        
        if (scrollTop > 50) {
            container?.classList.add('scrolled');
        } else {
            container?.classList.remove('scrolled');
        }
        
        lastScrollTop = scrollTop;
    });
</script>